@manifest url('BasicManifest.xml');

.debug UIComponent		{ opacity: .7; border: solid 3px #f0f inset; }

IDisplayObject			{ shape: rectangle; visibility: visible; opacity: 1; }
UIWindow				{ overflow: hidden; }
UIGraphic				{ shape: rectangle; }

.listHolder				        { algorithm: float-ver(top, left); }
.listHolder ListView     		{ width: 100%; height: 100%; }
.listHolder SelectableListView	{ width: 100%; height: 100%; }

/*.listContent			{ max-width: 100%; max-height: 100%; }*/
InputField				{ border: 1px solid #000; skin: Class( prime.gui.components.skins.InputFieldSkin); }
/*InputField UITextField 	{ width: auto; }*/
Label					{ font: Verdana 12px; }
Image					{ shape: rectangle; }
Button					{ font: Arial 10px #444; background: #ffffff00; algorithm: float-hor(center, center); }
Button UITextField 		{ width: auto; /* force textfield to be always at least the max size in the button */ }
/*Button Image			{ max-width: 100%; max-height: 100%; }*/


#modal					{ background: #88888877; width: 100%; height: 100%; }
#toolTip				{ background: #555; font: Verdana 9px #fff; }

TextArea {
	skin: none;
	algorithm: none;
	overflow: scrollbars;
}


/***************
 * SLIDER
 **************/

SliderBase					{ algorithm: relative; background: #fff; }

.horizontalSlider			{ min-width: 30px; height: 4px; }
.verticalSlider				{ min-height: 30px; width: 4px; }
.horizontalSlider UIGraphic	{ width: 0%; height: 100%; }
.verticalSlider UIGraphic	{ height: 0%; width: 100%; bottom: 0px; }

.horizontalSlider Button {
	background: #666;
	v-center: 0px;
	height: 15px;
	width: 6px;
	skin: none;
}
.verticalSlider Button {
	background: #666;
	h-center: 0px;
	width: 15px;
	height: 6px;
	min-height: 15px;
	skin: none;
}



/***************
 * SCROLLBAR
 **************/

ScrollBar 					{ background: #212121; }
.horizontalScrollBar		{ /*left: 8px; right: 8px;  bottom: 7px;*/ height: 2px; }
.verticalScrollBar			{ /*top: 8px; bottom: 8px; right: 7px;*/ width: 2px; }
.horizontalScrollBar Button	{
	background: #212121;
	height: 9px;
	width: 6px;
	min-width: 15px;
	v-center: 0px;
}
.verticalScrollBar Button	{
	skin: none;
	background: #212121;
	width: 9px;
	height: 6px;
	min-height: 15px;
	h-center: 0px;
}



/***************
 * VideoPlayer
 **************/

/*VideoPlayer					{ background: #eee; algorithm: float-ver; }
VideoPlayer UIVideo			{ width: 100%; height: auto; }
VideoControlBar				{ algorithm: float-hor(center, center); width: 100%; height: 30px; }
VideoControlBar Button		{ background: #f00; width: 50px; height: 50px; }*/



/***************
 * COMBOBOX
 **************/

ComboBox {
	skin: Class( prime.gui.components.skins.ButtonIconLabelSkin );
/*	skin: Class( prime.gui.components.skins.ComboBoxBtnSkin );*/
	min-width: 40px;
}

.comboList {
	background: #F9F9F9;
	border-radius: 10px;
	border: 1px solid #707070;
	/*padding: 7px 0px;*/
}

.comboList SelectableListView {
	/*min-width: 50px;*/
	width: none;		/** override 100% width setting **/
	height: none;		/** override 100% height setting **/
	min-height: 60px;
	max-height: 500px;
	overflow: scrollbars;
	algorithm: float-ver( top, left );
	padding: 0px;
	child-height: 20px;
}

.comboList SelectableListView Button {
	skin: Class( prime.gui.components.skins.ButtonIconLabelSkin );
	margin: 0px;
	min-width: 100%;
	width: 100%;
}



/***************
 * PANEL
 **************/

Panel {	
	skin: Class( prime.gui.components.skins.BasicPanelSkin );
}
Panel #closeBtn {
	skin: Class( prime.gui.components.skins.ButtonIconSkin );
}


/***************
* SLIDING TOGGLE BUTTON
**************/

.slideToggleButton {
	background: #666;
	skin: Class( prime.gui.components.skins.SlidingToggleButtonSkin );
	height: 30px;
	width: 50px;
	border-radius: 5px;
}
.slideToggleButton #onBg {
	/*width: 51%; width is calculated in the skin  */	
	top: 1px;
	bottom: 1px;
	background: #f00;
}
/*.slideToggleButton #onIcon {
	shape: rectangle;
	background: #fff;
	height: 53%;
	width: 2px;
	v-center: 1px;
	border-radius: 1px;
}
.slideToggleButton #offIcon {
	shape: ellipse;
	border: 2px solid #000 inner;
	height: 50%;
	max-width: 20%;
	v-center: 2px;
}*/
.slideToggleButton UITextField {
	font: "Lucida Grande" 8px #fff;
	text-transform: uppercase;
	v-center: 0px;
	text-align: center;
	width: 100%;
}
.slideToggleButton #onLabel {
	color: #fff;
}


.slideToggleButton #slide {
	move-transition: move 180ms ease-out;
	shape: rectangle;
	border-radius: 5px;
	background: #fff;
	height: 110%;
	width: 51%;
}

/***************
 * Perceptor
 **************/
/*Inspector {
	background: #ccc;
	color: #333;
	width: 50%;
	height: 100%;	
}*/

/***************
 * DEBUGBAR
 **************/

DebugBar {
	width: 100%;
	background: #111111aa;
	algorithm: float-hor(center, center);
	bottom: 0px;
	opacity: .5;
	/*position: absolute;*/
}
DebugBar:hover {
	opacity: 1;
}

DebugBar Button {
	algorithm: none;
	background: #ccc;
	skin: Class( prime.gui.components.skins.ButtonLabelSkin );
	color: #333;
	padding: 4px 6px;
	margin: 5px;
	font-size: 10px;
}
DebugBar Button:hover		{ background: #fff; }
DebugBar Button:selected	{ background: #fff; }
