@import url('BasicStyle.css');
@manifest url('Style.xml');

/*
UIWindow {
	allgorithm: float-hor;
	width:  400px;
	}*/

#parent     { 
	algorithm: float-hor; 
	width:  400px;
	height:  400px;
}

#child     { 
	background: linear-gradient(45deg, #ff0000, #0000ff);
	width:  800px;
	height:  800px;
}

.scrolling {
	overflow:  scroll-mouse-move;
}

.visible {
	overflow: visible;
}